<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
	http://www.springframework.org/schema/tx  
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	
	
	<!-- 基于注解
	<context:annotation-config /> -->
	
	<!-- 设置包的扫描器  扫描注解  目的是通过注解创建对象  并注入  -->
	<context:component-scan base-package="com.test">
	   <!-- 去掉控制器  控制器不用这个文件扫描  springmvc单独扫描控制器 -->
	   <context:exclude-filter type="annotation" 
	   expression="org.springframework.stereotype.Controller"/>	
	</context:component-scan>	
	
	<!-- 导入 db.properties -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	    <property name="location" value="classpath:db.properties" />
	</bean>
	<!--  配置pool  -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="driverClassName" value="${driver}"/>
        <property name="url" value="${url}"/>	  
	    <property name="username" value="${uname}"/>
        <property name="password" value="${pwd}"/>  
       
    </bean>
   
   
   <!--  配置c3p0
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${driver}"/>
        <property name="jdbcUrl" value="${url}"/>	  
	    <property name="user" value="${uname}"/>
        <property name="password" value="${pwd}"/>  
     
    </bean> 
    -->
    <!-- 配置 sqlsessionfactory  需要导入mybatis-spring架包-->
    <bean id="sqlSessionFactory"  class="org.mybatis.spring.SqlSessionFactoryBean">
         <property name="dataSource" ref="dataSource"></property>
         <property name="configLocation" value="classpath:mybatis.xml"></property>
    </bean>
    
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
         <property name="dataSource" ref="dataSource" />
    </bean>
    
    <!-- 开启事务控制的注解支持
        用注解取代 事务提交和回滚代码-->
    
    <tx:annotation-driven transaction-manager="txManager"/>
     
	
	
	
</beans>